/* .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 1rem;
  background-color: #f2f2f2;
}

.cv {
  background-color: #fff;
  padding: 2rem;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin-top: 2rem;
}

.name {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.sectionTitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

@media screen and (max-width: 600px) {
  .details {
    grid-template-columns: 1fr;
  }
}
 */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 1rem;
  background-color: #f2f2f2;
}

.cv {
  background-color: #fff;
  padding: 2rem;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin-top: 2rem;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.name {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.sectionTitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

@media screen and (max-width: 600px) {
  .details {
    grid-template-columns: 1fr;
  }
}
