.title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .carousel-container {
    position: relative;
    margin-top: 40px;
  }
  
  .slide {
    text-align: center;
    background-color: #a6ff16;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-bottom: 10px;
  }
  
  .image {
    max-width: 50%; 
    height: auto;
    border-radius: 8px;
    margin-right: 10px; 
  }
  
  .description {
    flex-grow: 1;
  }
  
  .legend {
    font-size: 18px;
    margin-top: 10px;
    color: #555;
  }